<footer>
    <p style="text-align: center;">&copy;2024 Colourfully Digital. All rights reserved.</p>

    <div class="grid">

        <div>
            <a href="/about">About</a>
        </div>
        <div>
            <a href="/contact">Contact</a>
        </div>
        <div>
            <a href="/privacy">Privacy Policy</a>
        </div>
    </div>
</footer>