<footer class="center-l">
    <p>&copy;2024 Colourfully Digital. All rights reserved.</p>
    <div>
        <a href="/about">About</a>
    </div>
    <div>
        <a href="/contact">Contact</a>
    </div>
    <div>
        <a href="/privacy">Privacy Policy</a>
    </div>
</footer>