<header>
    <nav>
        <a href="/" class="logo">
          <img src="/logo.png" alt="" height="32" width="32"/>
          Colourfully Digital
        </a>
        <ul>
            <li>
                <a aria-current="page" href="/">Home</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
             <% if (typeof first_name !=="undefined" ) { %>
            <li>
                <a href="/dependents">Family</a>
            </li>
            <li class="dropdown nav-item">
                <button id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/person-circle.svg" alt="Profile picture">
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Account</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/sign_out">Log Out</a></li>
                </ul>
            </li>
            <% } else {%>
           <li>
                <a href="/sign_up">Sign Up</a>
            </li>
            <li>
                <a href="/sign_in">Sign In</a>
            </li>
            <% } %>
        </ul>
    </nav>
</header>