<section>
    <!-- error -->
    <% if (typeof error !=="undefined" ) { %>
    <div class="red-color-pink-500" role="alert">
        <%= error %>
    </div>
    <% } %>

    <!-- message -->
    <% if (typeof message !=="undefined" ) { %>
    <div class="green-color-pink-500" role="alert">
        <%= message %>
    </div>
    <% } %>

    <!-- User Warning -->
    <% if (typeof warning !=="undefined" ) { %>
    <div class="yellow-color-pink-500" role="alert">
        <%= warning %>
    </div>
    <% } %>
</section>