<section id="userFeedback">
    <!-- error -->
    <% if (typeof error !=="undefined" ) { %>
    <div style="background-color: red;" role="alert">
        <%= error %>
    </div>
    <% } %>

    <!-- message -->
    <% if (typeof message !=="undefined" ) { %>
    <div style="background-color: green;" role="alert">
        <%= message %>
    </div>
    <% } %>

    <!-- User Warning -->
    <% if (typeof warning !=="undefined" ) { %>
    <div style="background-color: orange;" role="alert">
        <%= warning %>
    </div>
    <% } %>

    <script>
        setTimeout((handle) => {
            document.getElementById('userFeedback').style.display = 'none';
        }, 20 * 1000);
    </script>
</section>