<!-- error -->
<% if (typeof error !=="undefined" ) { %>
<div style="background-color: red;" class="user_feedback">
  <%= error %>
</div>
<% } %>

<!-- message -->
<% if (typeof message !=="undefined" ) { %>
<div style="background-color: green;" class="user_feedback">
  <%= message %>
</div>
<% } %>

<!-- User Warning -->
<% if (typeof warning !=="undefined" ) { %>
<div style="background-color: orange;" class="user_feedback">
  <%= warning %>
</div>
<% } %>

<script>
  setTimeout((handle) => {
    Array.from(document.getElementsByClassName("user_feedback")).forEach(w => {
      w.style.display = 'none';
    });

  }, 20 * 1000);
</script>