<hgroup>
    <h1>About us</h1>
    <p>Tagline</p>
</hgroup>
<section>
    <article class="box-l">
        <h2>Partnerships</h2>
        <p>Description of Partnerships.</p>
        <a href="/programs">View Programs</a>
    </article>
</section>