<hgroup>
    <h1>Contact us</h1>
    <p>Tagline</p>
</hgroup>
<section>
    <article class="box-l">
        <h2>General information</h2>
        <p>Description.</p>
        <ul>
            <li>Telephone: 613-690-5979</li>
            <li>Email: info@colourfully.digital</li>
        </ul>
    </article>
</section>