<%- include('../layouts/head') %>
<main>
    <div class="container">
        <%- include('../partials/user_feedback') %>

        <h1>Upcoming Events:</h1>


</main>
<%- include('../layouts/footer') %>